<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>
      {{todo ? 'edit todo' : 'new todo'}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-sm="12" size-md="6">

      <form [formGroup]="form">

        <ion-item>
          <ion-label>title</ion-label>
          <ion-input type="text" formControlName="title"></ion-input>
        </ion-item>



        <ion-item>
          <ion-label>decription</ion-label>
          <ion-textarea rows="1" autoGrow formControlName="desc"></ion-textarea>
        </ion-item>

      </form>

      <ion-button expand="block" shape="round" mode="ios" class="ion-margin-top" [disabled]="!form.valid"
        (click)="onSubmit()">
        save
      </ion-button>


    </ion-col>
  </ion-row>

</ion-content>